# Telegram
BOT_TOKEN=
ADMIN_TELEGRAM_ID=

# Jellyseerr
JELLYSEERR_URL=http://localhost:5055
JELLYSEERR_API_KEY=

# Sonarr
SONARR_URL=http://localhost:8989
SONARR_API_KEY=

# Sonarr Anime (optional)
SONARR_ANIME_URL=
SONARR_ANIME_API_KEY=

# Radarr
RADARR_URL=http://localhost:7878
RADARR_API_KEY=

# Jellyfin
JELLYFIN_URL=http://localhost:8096
JELLYFIN_API_KEY=

# Database
DB_PATH=/config/telegraarr.db